*.Rproj
Exploratory Data Analysis/Proyect 2/.Rproj.user/*
Getting and Cleaning Data/.Rproj.user/
*.RData
Getting and Cleaning Data/.Rhistory
Getting and Cleaning Data/data/cameras.csv
Getting and Cleaning Data/data/question3.xlsx
Getting and Cleaning Data/data/cameras.xlsx
*.Rhistory
*.RDataTmp
